# Dependencies
node_modules/
**/node_modules/

# Build outputs
/dist/
/build/
/out/
/.next/
/.nuxt/
/.cache/
coverage/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Editors/IDE
.vscode/
.idea/
*.swp

# Tooling
.cursor/
